<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title><%= foundrecipe.title %></title>
    <%- include('../partials/head') %>
</head>
<body>
    <h2><%= foundrecipe.title %></h2>
    <p><%= foundrecipe.ingredients %></p> <!-- Changed from description to ingredients -->
    <p>SELLER: <%= foundrecipe.seller.username %></p>
    <p><strong><%= foundrecipe.price %> BHD</strong></p>
   

    <% if (foundrecipe.seller._id.equals(user._id)) { %>
        <div class="actions">
            <form action="/recipes/<%= foundrecipe._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
            <a href="/recipes/<%= foundrecipe._id %>/edit">
                <button id="edit-button">Edit</button>
            </a>
        </div>
    <% } %>

    <h3>Leave a Comment</h3>
    <form action="/recipes/<%= foundrecipe._id %>/comments" method="POST">
        <textarea name="content" id="" required></textarea>
        <button type="submit">Post Comment</button>
    </form>
    <h3>Comments</h3>
    <ul>
        <% foundrecipe.comments.forEach((comment) => { %>
            <li>
                <%= comment.content %> - <%= comment.author.username %> 
            </li>
        <% }) %>
    </ul>
</body>
</html>